{:tasks
 {fmt
  {:doc "Formats the repo"
   :task (shell "steam-run npm run format")}
  fix
  {:doc "Fixes interpreter"
   :task (do
            (shell "steam-run npx biome check --write --unsafe --diagnostic-level=error")
            (shell "steam-run npm run format")
            (shell "steam-run npm run lint:fix -- --skip=suspicious"))}
  fix:web
  {:doc "Fixes web"
   :task
   (let [opts {:dir "./examples/web-repl"}]
     (shell opts "steam-run npx biome check --write --unsafe --diagnostic-level=error")
     (shell opts "steam-run npm run format")
     (shell opts "steam-run npm run lint:fix -- --skip=suspicious"))}
  fix:all
  {:doc "Fixes all source code"
   :task (do
            (shell "bb fix")
            (shell "bb fix:web"))}
  dev:web
  {:doc "Fixes web"
   :task
   (shell {:dir "./examples/web-repl"} "npm run dev:watch")}
  nrepl
  {:doc "Start nrepl server"
   :task (shell "bun run --bun nbb nrepl-server")}}}
