/* Documentation Panel Styles */
.container {
  padding: 2rem;
  margin: 0 auto;
  color: black;
}

.header {
  margin-bottom: 3rem;
}

.title {
  font-family: 'Almarena Neue Display', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.75;
}

.section {
  margin-bottom: 3rem;
}

.sectionTitle {
  font-family: 'Almarena Neue Display', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.sectionText {
  font-size: 1.125rem;
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

.introText {
  margin-bottom: 1.5rem;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 0.875rem;
}

.exampleCard {
  background: #FFCA38;
  color: #2F2302;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.exampleTitle {
  font-family: 'Almarena Neue Display', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #2F2302;
  margin-bottom: 0.75rem;
}

.exampleDescription {
  color: #2F2302;
  margin-bottom: 1rem;
}

.exampleButton {
  background-color: #2F2302;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.15s ease-in-out;
  border: none;
  cursor: pointer;
}

.exampleButton:hover {
  background-color:rgb(32, 24, 1);
}

.codeInline {
  font-family: 'Geist Mono', ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background: #FFCA38;
  color: #2F2302;
  margin: 0 0.25rem;
}

.footerSection {
  background: #A499FF;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.footerCard {
  background: #08022F;
  color: #fff;
  border-radius: 0.375rem;
  padding: 1rem;
}

.footerTitle {
  font-family: 'Almarena Neue Display', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 0.75rem;
}

.footerDescription {
  color: #fff;
  margin-bottom: 1rem;
}

.footerButton {
  background: #fff;
  color: #08022F;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.footerButton:hover {
  background: black;
}
